<% if (success && success.length > 0) { %>
    <section id="alert">
        <div class="alert alert-success beautiful" role="alert">
            <div>
                <button class="close" type="button" data-dismiss="alert">
                    <span><i class="far fa-window-close"></i></span>
                </button>
                <%= success %>
            </div>
        </div>
    </section>
<% } %>


<% if (error && error.length > 0) { %>
    <section id="alert">
        <div class="alert alert-danger beautiful" role="alert">
            <div>
                <button class="close" type="button" data-dismiss="alert">
                    <span><i class="far fa-window-close"></i></span>
                </button>
                <%= error %>
            </div>
        </div>
    </section>
<% } %>


<% if (info && info.length > 0) { %>
    <section id="alert">
        <div class="alert alert-info beautiful" role="alert">
            <div>
                <button class="close" type="button" data-dismiss="alert">
                    <span><i class="far fa-window-close"></i></span>
                </button>
                <%= info %>
            </div>
        </div>
    </section>
<% } %>