<% if (success && success.length > 0) { %>
    <section id="alert">
        <div class="alert alert-success beautiful" role="alert">
            <div>
                <button class="close" type="button" data-dismiss="alert">
                    <span>x</span>
                </button>
                <strong>Success: </strong>
                <%= success %>
            </div>
        </div>
    </section>
<% } %>


<% if (error && error.length > 0) { %>
    <section id="alert">
        <div class="alert alert-danger beautiful" role="alert">
            <div>
                <button class="close" type="button" data-dismiss="alert">
                    <span>x</span>
                </button>
                <strong>Error: </strong>
                <%= error %>
            </div>
        </div>
    </section>
<% } %>


<% if (info && info.length > 0) { %>
    <section id="alert">
        <div class="alert alert-info beautiful" role="alert">
            <div>
                <button class="close" type="button" data-dismiss="alert">
                    <span>x</span>
                </button>
                <strong>Info: </strong>
                <%= info %>
            </div>
        </div>
    </section>
<% } %>