<section id="page-footer">
    <footer>
        <div class="social">
            <a class="github" href="https://github.com/zhenya-paitash"><i class="fab fa-github"></i></a>
            <a class="telegram" href="https://t.me/zhenyapaitash"><i class="fab fa-telegram"></i></a>
            <a class="gmail" href="https://mail.google.com/"><i class="fab fa-google"></i></a>
        </div>
        <p class="copyright">zhenya.paitash © 2020</p>
    </footer>
</section>