<div data-bs-parallax-bg="true" id="page-parallax" class="img-fluid">
    <section id="page-header">
        <div class="container">
            <div class="title-text">
                <h1>team projects.</h1>
                <hr>
                <p>Way own uncommonly travelling now acceptance bed compliment solicitude.<br></p>
            </div>
        </div>
    </section>
</div>