.beautiful.alert {
    border-width: 1px;
    background-image: none;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
    font-weight: 100;
}

.beautiful.alert .fa-window-close {
    color: rgba(0, 0, 0, 0.50);
    width: 100%;
    padding: 0;
    margin: 0;
}
.beautiful.alert button:active,
.beautiful.alert button:focus {
    outline: none;
    text-decoration: none;
    border: none;
    box-shadow: rgba(255, 255, 255, 0);
}

.alert.alert-success.beautiful {
    background-color: rgba(46, 204, 113, 0.25);
    color: #27ae60;
}

.alert.alert-danger.beautiful {
    background-color: rgba(231, 76, 60, 0.25);
    color: #c0392b;
}

.alert.alert-info.beautiful {
    background-color: rgba(52, 152, 219, 0.25);
    color: #2980b9;
}