#nav-routes {
    font-weight: 100;
    font-size: 14px;
}

#nav-routes a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    opacity: 0.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10px;
}

#nav-routes a:hover {
    opacity: 1;
}

#nav-routes i {
    margin-right: 5px;
}

