#nav-routes {
    font-weight: 300;
    font-size: 18px;
}

#nav-routes a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    opacity: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10px;
    transition: all 0.5s;
    height: 100%;
}

#nav-routes a:hover {
    color: #484848;
    opacity: 1;
    padding: 0 8px;
    transition: all 0.5s;
}

#nav-routes i {
    margin-right: 5px;
}

