#page-parallax {
  height: 500px;
  background-image: url("../img/parallax.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

#page-header hr {
  border-color: #ffffff;
  width: 250px;
}

#page-header .container {
  text-align: center;
  padding: 100px 5%;
  max-width: 60%;
  color: #484848;
}

#page-header .container h1 {
  text-transform: uppercase;
}

#page-header .title-text {
  background-color: rgba(255, 255, 255, 0.5);
}

