/*---------- ALL CATEGORY ----------*/
/*нитернет-визитка*/
/*сайт-компании*/
/*онлайн-магазин*/
/*ландинг-страница*/
/*электронная-торговая-площадка*/
/*информационный-портал*/
/*некоммерческий-сайт*/
/*блог*/
/*социальная-сеть*/
/*поисковая-система*/
/*почтовый-сервис*/
/*тематический-сайт*/
/*персональный-сайт*/
/*сервис-хранения-фото*/
/*видео-хостинг*/
/*доска-объявленний*/
/*каталог-сайтов*/
/*онлайн-энциклопедия*/
/*другое*/

/* 1  business-card*/
/* 2  company-site*/
/* 3  online-shop*/
/* 4  landing-page*/
/* 5  electronic-marketplace*/
/* 6  informational-portal*/
/* 7  nonprofit-website*/
/* 8  blog*/
/* 9  social-network*/
/* 10 search-system*/
/* 11 post-service*/
/* 12 theme-site*/
/* 13 personal-site*/
/* 14 storage-service*/
/* 15 video-hosting*/
/* 16 bulletin-board*/
/* 17 directory-site*/
/* 18 online-encyclopedia*/
/* 19 other*/

/*========================================*/

/*business-card*/
.pjcat-business-card h4 {
    background-color: rgba(165, 220, 87, 0.5);
}

/*company-site*/
.pjcat-company-site h4 {
    background-color: rgba(116, 185, 255, 0.5);
}

/*online-shop*/
.pjcat-online-shop h4 {
    background-color: rgba(255, 0, 15, 0.5);
}

/*landing-page*/
.pjcat-landing-page h4 {
    background-color: rgba(255, 192, 31, 0.5);
}

/*electronic-marketplace*/
.pjcat-electronic-marketplace h4 {
    background-color: rgba(0, 28, 145, 0.3);
}

/*informational-portal*/
.pjcat-informational-portal h4 {
    background-color: rgba(9, 132, 227, 0.6);
}

/*nonprofit-website*/
.pjcat-nonprofit-website h4 {
    background-color: rgba(84, 166, 254, 0.55);
}

/*blog*/
.pjcat-blog h4 {
    background-color: rgba(133, 83, 253, 0.45);
}

/*social-network*/
.pjcat-social-network h4 {
    background-color: rgba(0, 41, 227, 0.6);
}

/*search-system*/
.pjcat-search-system h4 {
    background-color: rgba(116, 185, 255, 0.35);
}

/*post-service*/
.pjcat-post-service h4 {
    background-color: rgba(214, 48, 49, 0.55);
}

/*theme-site*/
.pjcat-theme-site h4 {
    background-color: rgba(108, 92, 231, 0.65);
}

/*personal-site*/
.pjcat-personal-site h4 {
    background-color: rgba(232, 67, 147, 0.6);
}

/*video-hosting*/
.pjcat-video-hosting h4 {
    background-color: rgba(255, 13, 0, 0.6);
}

/*bulletin-board*/
.pjcat-bulletin-board h4 {
    background-color: rgba(50, 236, 222, 0.5);
}

/*directory-site*/
.pjcat-directory-site h4 {
    background-color: rgba(253, 203, 110, 0.65);
}

/*online-encyclopedia*/
.pjcat-online-encyclopedia h4 {
    background-color: rgba(223, 230, 233, 0.65);
}

/*other*/
.pjcat-other h4 {
    background-color: rgba(99, 110, 114, 0.6);
}

