.login-dark {
  height: 100vh;
  /*background: #475d62 url(star-sky.jpg);*/
  background-size: cover;
  position: relative;
  background-image: url("../img/signuplogin.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 4px;
  border: 0.5px solid black;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #333333;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #FC4E59;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .button {
  /*background: #FC4E59;*/
  width: 100%;
  border-color: #FC4E59;
  /*border: none;*/
  /*border-radius: 4px;*/
  /*padding: 11px;*/
  box-shadow: none;
  /*margin-top: 26px;*/
  text-shadow: none;
  outline: none;
}

.login-dark form .button:hover, .login-dark form .button:active {
  outline: none;
}

.login-dark form .button:active {
  transform: translateY(1px);
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

#validation-email {
  text-transform: lowercase;
}

#validation-text {
  padding: 0;
  margin: 0;
  font-size: 10px;
  text-align: left;
  opacity: 0.50;
  width: 100%;
  height: 10px;
  color: rgb(0,0,0);
}

