#search-results .row {
  padding: 0;
  margin: 0;
}

#search-results #col-user-name {
  margin: 0;
  border: none;
}

#col-user-search .search-user-page input {
  color: black;
  height: 100%;
  border: 0.5px solid rgba(0,0,0,0.25);
}

#col-user-search .btn:focus:not([readonly]) {
  box-shadow: 0 0 0 1px rgba(255,255,255,0);
}

#col-user-search .btn {
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 0;
  margin: 0;
  color: rgba(252, 78, 89, 0.5);
}

#user-info .all-users-list h4 {
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 50px;
}

#user-info .all-users-list a {
  outline: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 2px;
}

#user-info .all-users-list a:hover {
  color: white;
}

#user-info .all-users-list li:nth-child(2n) {
  background-color: rgba(255,255,255,0.05);
}

.all-users-list .list-unstyled {
  text-align: left;
  font-weight: 100;
}

.all-users-list {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  -webkit-box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.4);
  box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.4);
}

#search-results a {
  color: rgb(0,0,0);
  outline: none;
}

#search-results a:hover {
  color: rgba(252, 78, 89, 0.75);
}

#user-info .fas.fa-search:hover {
  color: #FC4E59;
}

