<%- include("../partials/header") -%>
<div class="login-dark">
    <form id="validation-form" action="/login" method="POST">
        <h2 class="sr-only">Login Form</h2>
        <div class="rubberBand animated illustration">
            <i class="icon ion-ios-unlocked-outline"></i>
        </div>
        <%- include("../partials/alert") -%>
        <div class="form-group" name="email" placeholder="Email">
            <span id="validation-text">Enter your email please.</span>
            <input class="form-control" type="email" id="validation-email" name="email"
                   pattern="[a-z0-9]+([-+._][a-z0-9]+){0,2}@.*?(\.(a(?:[cdefgilmnoqrstuwxz]|ero|(?:rp|si)a)|b(?:[abdefghijmnorstvwyz]iz)|c(?:[acdfghiklmnoruvxyz]|at|o(?:m|op))|d[ejkmoz]|e(?:[ceghrstu]|du)|f[ijkmor]|g(?:[abdefghilmnpqrstuwy]|ov)|h[kmnrtu]|i(?:[delmnoqrst]|n(?:fo|t))|j(?:[emop]|obs)|k[eghimnprwyz]|l[abcikrstuvy]|m(?:[acdeghklmnopqrstuvwxyz]|il|obi|useum)|n(?:[acefgilopruz]|ame|et)|o(?:m|rg)|p(?:[aefghklmnrstwy]|ro)|qa|r[eosuw]|s[abcdeghijklmnortuvyz]|t(?:[cdfghjklmnoprtvwz]|(?:rav)?el)|u[agkmsyz]|v[aceginu]|w[fs]|y[etu]|z[amw])\b){1,2}"
                   placeholder="Email" minlength="9" onkeyup="validation()" required value="asd@asd.com">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password"
                   pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*"
                   title="Numbers are required in the password, as well as Latin letters in upper and lower case."
                   minlength="6" required value="asdASD123">
        </div>
        <div class="form-group">
            <button class="button" type="submit" data-hover="are you sure?">
                <span>Log In</span>
            </button>
        </div>
        <a class="forgot" href="/signup">Don't have an account? <strong>Register</strong></a>
        <a class="forgot" href="#">Forgot your password? <strong>Reset it</strong></a>
    </form>
</div>
<%- include("../partials/footer") -%>